body{
    background-color: rgb(148, 63, 97);
}

.title{
    color: white;
    margin-top: 20px;
    letter-spacing: 3px;
    font-size: 35px;
    border-radius: 20px;
}

#camera{
    border-style: dashed;
    border-color: black;
    background-color: none;
    width: 350px;
    height: 300px;
    margin-top: 10px;
}